<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>Excel讀取</Name>
      <Description>一次讀取多個Excel(.Xlsx)檔案，亦可指定讀取Excel檔案多個Sheet。</Description>
      <ToolVersion>1.0.0</ToolVersion>
      <CategoryName>PwC Data Tools</CategoryName>
      <Author>Assurance Innovation and Transformation</Author>
      <Icon>XlsxReader/icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>